<!DOCTYPE html>
<html>
<head>
	<title>Shortend URL</title>
</head>
<body>
<h1><p>...and away we go!</p></h1><br>
<h2>Your URL redirect is: <br>

<a href=<%=data2.hash%>>http://localhost:3000/<%=data2.hash%></a>
<%=data2.id%>
<%=data2.url%>
<%=data2.createdAt%>
</h2>

</body>
</html>